extends ../layout

block content
	div(class="row")
		div(class="col-md-12")
			h4 Solicite seu cartão DirectMED
		div(class="col-md-12")
			hr
		div(class="col-md-12")
			p Estamos passando por modificações em nosso sistema e as solicitações de cartões pelo nosso sistema esta fora do ar, peço que preencha os dados corretamente do formulário abaixo que nossos consultores entraram em contato o mais rápido possivel.
			form(role="form")
					div(class="row")
						div(class="col-md-6")
							h5 Seus dados de cadastro
							p 
								span Nome: #{user.nome} <br/> 
								span E-Mail: #{user.email} <br/> 
								span Telefones: #{user.telefone.ddd_fixo} #{user.telefone.telefone_fixo} / #{user.telefone.ddd_celular} #{user.telefone.telefone_celular} <br/>
								span Endereço: #{user.endereco.endereco}, #{user.endereco.numero}, #{user.endereco.bairro}, #{user.endereco.cidade} - #{user.endereco.estado}, #{user.endereco.cep}
								span 
									a(href="/confirmar-solicitacao", class="btn btn-success") Confirmar solicitação
								span