extends ../layout
block css
	link(rel='stylesheet', href='/stylesheets/datepicker.css')
block content
	div(class="row")
		div(class="col-md-12")
			h2 Financeiro
		div(class="col-md-12")
			hr
		div(class="col-md-12")
			form(id="", method="POST", action="/financeiro", class="form-horizontal")
				label Usuário
					input(type="text", class="form-control", placeholder="OS/Nome/CPF", name="id_crypto")
				
				label busca
					select(class="form-control", name="status_id")
						option(value="0", selected="selected") Busca seletiva
						option(value="4") Aguardando Pagamento 
						option(value="5") Em Processamento 
						option(value="6") Aprovada 
						option(value="7") Cancelada 
						option(value="24") Em Contestação 
						option(value="87") Em Monitoramento 
						option(value="88") Em Recuperação 
						option(value="89") Reprovada 
				
				label Data Inicio
					input(type="text", class="form-control datepicker", placeholder="Data inicio", name="cpf")
				label Data Fim
					input(type="text", class="form-control datepicker", placeholder="Data fim", name="cpf")

				label
					input(type="submit", class="btn btn-success form-control", value="Buscar!")
				

		div(class="col-md-12")

			if financeiro
				div(class="table-responsive")
					table(class="table table-condensed table-striped table-hover table-bordered")
						thead
							tr

								th CPF
								th E-mail
								//th Data
								th Status
								th ID

						tbody				
							each f in financeiro
								tr
									td 
										if f.user.cpf
											span #{f.user.cpf}
									td 
										if f.user.email
											span #{f.user.email}
										
									td 
										if f.resposta.transaction.status_name
											span #{f.resposta.transaction.status_name}

									//td #{ref.created_at}	 
									td 
										if f.resposta.transaction.order_number
											span #{f.resposta.transaction.order_number}

									//- td
									//- 	div(class="btn-group")
									//- 		button(type="button", class="btn btn-primary dropdown-toggle btn-xs", data-toggle="dropdown") Ações  
									//- 			span(class="caret")
									//- 		ul(class="dropdown-menu pull-right")
									//- 			li
									//- 				a(href="#" class="semlinha") Enviar cobrança por email
									//- 			li
									//- 				a(href="#" class="semlinha") Visualizar
									//- 			li

				//- ul(class="pagination pagination-sm pull-right")
				//- 	li(class="disabled")
				//- 		a(href="#") «
				//- 	li(class="active")
				//- 		a(href="#") 1
				//- 	li()
				//- 		a(href="#") 2
				//- 	li()
				//- 		a(href="#") 3
				//- 	//class="disabled"
				//- 	li()
				//- 		a(href="#") 4
				//- 	li()
				//- 		a(href="#") »

			else
				h4 Nenhum cadastro.
block script
	script(src="/javascripts/bootstrap-datepicker.js")
	script(src="/javascripts/data.js")

