extends ../layout

block content
	div(class="row")
		div(class="col-md-12")
			h4 Tornar-se um Referenciado
		div(class="col-md-12")
			hr
		div(class="col-md-12")
			p Text com detalhes. etc.
			form(role="form")
					div(class="row")
						div(class="col-md-6")
							h5 Seus dados de cadastro
							p 
								span Nome: #{user.nome} <br/> 
								span E-Mail: #{user.email} <br/> 
								span Telefones: #{user.telefone.ddd_fixo} #{user.telefone.telefone_fixo} / #{user.telefone.ddd_celular} #{user.telefone.telefone_celular} <br/>
								if user.endereco
									span Endereço: #{user.endereco.endereco}, #{user.endereco.numero}, #{user.endereco.bairro}, #{user.endereco.cidade} - #{user.endereco.estado}, #{user.endereco.cep}
									p
										a(href="/referenciado/#{user._id}/solicitar", class="btn btn-success") Confirmar solicitação
								else
									p Não identificamos seus dados de endereço, edite seu cadastro e preencha os dados corretamente para continuar com a solicitação.
									a(href="/user/#{user._id/editar", class="btn btn-success") Editar Perfil
